&qspi {
	status = "okay";

	/delete-property/ is-stacked;
	/delete-property/ is-dual;

	/delete-property/ xlnx,connection-mode;
	/delete-property/ xlnx,qspi-mode;
	xlnx,connection-mode = <0>;
	xlnx,qspi-mode = <0>;

	boot_memory: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fs512s", "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};
