[Unit]
Description=Mark successful Linux boot by restoring PMC_MULTI_BOOT register
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/multiboot-tool sd-prev
StandardOutput=journal
StandardError=journal
